<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tehras.moviedetails">

    <application android:theme="@style/Theme.Movies.DayNight.NoActionBar">
        <activity android:name="com.github.tehras.moviedetails.MovieDetailsActivity" />
        <activity android:name="com.github.tehras.person.PersonActivity" />
    </application>
</manifest>
